body {
    width: 1024px;
    background-color: white;
    background-image: url("leaves.png");
    background-attachment: fixed;
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond,serif;
}

h1,h2,h3 {
    background-color: #F0F0F0;
    color: #A4A400;
    font-family: Lucida Sans Unicode, Helvetica, Arial, sans-serif;
    text-align: left;
    font-size: 18pt;
    text-decoration: underline;
}
a {
    color: #A4A400;
}

h1 {
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
}

#profile {
    height: 240px;
}