a > img  {
    margin: 0;
    padding: 0;
    border: 0;
    width: 45px;
    margin-right: 15px;
}
body {
    background-color: #696969;
}

a {
    color: #202020;
    font-style: italic;
}
a:link {
    text-decoration: none
}

a:hover {
    text-decoration-line: underline;
}

ul.nav>li  {
    display: inline;
    font-size: 45px;
}

.title {
    margin-left: 350px;
}

.intro {
    text-align: center;
}