body {
    background-image: url("http://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/background.png");
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

h1 {
    font-size: 24pt;
    font-family: Tahoma, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 3px 0 #999999;

}

div#banner {
    background-image: url("http://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/bannerbg.png");
    background-repeat: repeat-x;
}

div#content {
    width: 800px;
    border: grey 4px solid;
    border-radius: 30px;
    overflow: hidden;
}

div#left {
    width: 550px;
}

div#right {
    width: 250px;
    float: right;
    background-color: #A2B964;
    font-family: Arial, sans-serif;
}

div#rotten {
    width: 100%;
    background-image: url("https://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/rbg.png");
    background-repeat: repeat-x;
}

div#rotten > span {
    color: red;
    font-size: 48pt;
    font-weight: bold;
    vertical-align: top;
}

div#rev-left, div#rev-right {
    display: inline-grid;
    width: 47%;
    margin-top: 8px;
}

div#rev-right {
    margin-right: 2%;
    margin-left: 1%;
}

div#rev-left {
    margin-left: 2%;
    margin-right: 1%;
}

dt {
    font-size: 10pt;
    font-weight: bold;
    margin-left: 10pt;
}

dd {
    margin-bottom: 10pt;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

div#footer {
    background-color: #A2B964;
    width: 800px;
    text-align: center;
    overflow: auto;
}

div#footer > p {
    margin-bottom: 5px;
}

div#validation {
    position: absolute;
    right: 0;
    bottom: 0;
}

div#validation > a > img {
    opacity: 0.5;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.quote-box {
    background-color: #E1D697;
    border: grey 2px solid;
    border-radius: 10px;
}

.quote-box-content {
    margin: 8px;
    font-weight: bold;
}

.quote-box-content > img {
    float: left;
    margin-right: 5px;
}

.i {
    font-style: italic;
}

.author > img {
    float: left;
    margin-right: 5px;
}

.author {
    margin-bottom: 20pt;
}